
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
    
}

.bg-home{
    position: relative;
}

.bg-home::before{
    content: '';
    position: absolute;
    
}

.hero{
    color: $primary-normal;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    

    h1{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }

    p{
        text-align: center;
        margin: 14px 0;
        color: $secondary-normal
    }

    h3{
        background-color: $secondary-normal;
        text-align: center;
        line-height: 100%;
        font-size: 28px;
        color: $primary-dark;
    }

}

.button-contact{
    padding: 14px 28px;
    color: $primary-normal;
    background-color: transparent;
    border: 1px solid $primary-normal;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
    transition: 0.8s;


}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;
    background-color: $secondary-normal;


}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: (1.1);
    }
    
}

@media screen and (max-width: 768px){
    .hero{
        min-height: 60vh;

        h1{
            font-size: 33px;
            padding: 0 14px;
            width: 100%;
        }
        p{
            font-size: 14px;
        }

    
    }
}

.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $black-normal;
    
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img{
        max-width: 570px;
    }
}

.about-content div{
    flex: 1;
}

.about-description{
    h2{
        font-size: 38px;
        margin-bottom: 24px;
    }

    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .about-content{
        flex-direction: column;
    }
}

.service{
    background-color: $primary-normal;
    color: $black-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
    

}

.service-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
    background-color: $primary-dark;
    color: $primary-normal;
    
}

.service-content p{
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
}

.haircuts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 44px 34px 44px;
}

.haircut{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $primary-normal;
    border-radius: 9px;
    box-shadow: 0px -1px 17px -4px rgba(0,0,0, 0.60);
    
    overflow: hidden;

    img{
        width: 100%;
        max-width: 620px;
        transition: transform (0.3s);

    }

}

.haircut img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.haircut-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $primary-dark;
    color: $primary-normal;
    z-index: 99;
    padding: 10px 10px 10px 10px;
}

.haircut-info button{
    color: $black-normal;
    background-color: $primary-normal;
    padding: 4px 8px;
    border-radius: 6px;
    border: 0;
    
}

@media screen and (max-width: 768px) {
    .haircuts{
        flex-direction: column;

    }
}

.haircut img{
    max-width: 740px;
}

//---------

//footer

.footer{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $primary-normal;

    img{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 130px;
    }

    p{
        display: flex;
        padding: 24px 24px;
        flex-direction: column;
        color: $primary-normal;
        gap: 8px;

    }

}

.footer-icons{
    display: flex;
    gap: 8px;
    color: $primary-normal;
    padding: 24px 24px;


}

.btn-whatsapp{

    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;


    img{
        max-width: 74px;
        transition: transform 0.4s;
    }

    img:hover{
        transform: scale(1.2);
    }
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: $black-normal;
    color: $primary-normal;
    opacity: 0;
    transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;

}
@media screen and (max-width: 768px){
    .btn-whatsapp{
        img{
            max-width: 54px;
        }
    }

}



